.floating-tab-bar {
	position: absolute;
	bottom: 20px;
	margin: 0 20px;
	display: flex;
	align-items: center;
	padding: 10px 20px;
	justify-content: center;
	border-radius: 100vw;
	background: rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(15px);
	box-shadow: 0 4px 18px rgba(0, 0, 0, 0.2);
	width: 80%;
	border: none;
	transition: all 0.3s ease;
}

.floating-tab-bar ion-tab-button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 0;
}

ion-content {
	--padding-bottom: 90px;
}

.floating-tab-bar ion-icon {
	font-size: 28px;
	margin-bottom: 4px;
}

.floating-tab-bar ion-label {
	font-size: 11px;
	line-height: 1;
	margin: 0;
}

.floating-tab-bar ion-tab-button {
	background: transparent;
	padding: 5px 0;
}

.floating-tab-bar ion-tab-button.tab-selected {
	border-radius: 100vw;
}

ion-buttons {
	display: flex;
	align-items: center;
}

ion-button {
	display: flex;
	align-items: center;
	justify-content: center;
}
